<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>
<p><a href="#!/proxy" class="btn btn-primary">Proxies</a></p>
<p><a href="#!/request" class="btn btn-primary">Request</a></p>
<p><a href="#!/apps" class="btn btn-primary">Apps</a></p>
<p><a href="#!/bookmarklets" class="btn btn-primary">Bookmarklets</a></p>
<p><a href="#!/prx" class="btn btn-primary">Built in proxy</a></p>
<p><a href="#!/info" class="btn btn-primary">Info</a></p>
<p><a href="#!/websites" class="btn btn-primary">Websites</a></p>
<p><a href="#!/updates" class="btn btn-primary">Updates</a></p>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<!-- hitwebcounter Code START -->
<a href="https://www.hitwebcounter.com" target="_blank">
<img src="https://run.plnkr.co/preview/cld0dj7df0006356wxmbazigh/" title="Free Counter" Alt="web counter"   border="0" /></a>
